@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ruda:wght@400..900&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

    font-weight: 500;
    font-style: normal;
    background-color: #EDEEF3;
}

.bodyLoginDash{
    width: 100%;
    height: 100vh;
    /*background-image: linear-gradient(to bottom right, #171616 50%, #868383 50%);*/
    background-image: linear-gradient(to bottom right, #171515 50%, #868383 50%);
    /*border-radius: 50%;/*/


}

.cinza {
    background-color: #272626 !important;
    color: white !important;
}

.cinza::placeholder {
    color: white !important;

}
.verde{
    background-color:#2cb28c;!important;
}
.azul{
    background-color: #0020cc;!important;
}

.vermelhoRonan{
    background-color: rgb(215, 36, 36);
}



.ciznaEscuro {
    background-color: #272626; !important;
}

.btnVerdeBostrap{
    background-color: #1a8754;
    border: 1px solid #1a8754;
    color: white;
}
.btnVerdeBostrap:hover{
    background: transparent;
    border: 1px solid #1a8754;
    color: #1a8754;
}

.btnAzulBostrap{
    background: #0ccaf0;
    border: 1px solid #0ccaf0;
    font-weight: 500;
    transition:0.5s;
    color: white;
}
.btnAzulBostrap:hover{
    background: transparent;
    border: 1px solid #0ccaf0;

}

.btnVermelhoRonan{
    background-color: rgb(215, 36, 36);
    border: 1px solid  rgb(215, 36, 36);
    color: white;

}

.btnVermelhoRonan:hover{
    background-color: rgb(204, 7, 7);
    border: 1px solid  rgb(204, 7, 7);
    color: white;
}


.amareloBos {
    background: #ffc108;!important;
}

.btnAmareloBos{
    background-color: #ffc108;!important;
    border: 1px solid #ffc108;
    color: white;
}

.btnAmareloBos:hover{
    background: transparent;
    border: 1px solid #ffc108;
    color: #ffc108;
}

.pretoNaoPreto{
    background-color: #171616; !important;
}

.btnPretoNaoPreto{
    background-color:#171616;!important;
    transition: 0.3s;
    border: 1px solid #171616;
    color: white;
}

.btnPretoNaoPreto:hover{
    background-color: transparent;
    border: 1px solid #171616;
    color: #212121;
    font-weight: 500;
}

.btnCinzaEscuro{
    background-color:#272626;!important;
    transition: 0.3s;
    border: 1px solid #272626;
}

.btnCinzaEscuro:hover{
    background-color: transparent;
    border: 1px solid #272626;
    color: #212121;
    font-weight: 500;
}

.btnCinza{
    background-color: #484646;!important;
    transition: 0.3s;
    border: 1px solid #484646;
    color: white;
}

.btnCinzaSemHover{
    background-color: #484646;!important;
    transition: 0.3s;
    border: 1px solid #484646;
    color: #484646;
}

.btnAzul{
    background-color: #0020cc;!important;
    transition: 0.3s;
    border: 1px solid #0020cc;
    color: white;
}

.btnAzul:hover{
    background-color: transparent;
    border: 1px solid #0020cc;
    color: #0020cc; !important;
    font-weight: 500;
}

.btnAzulSemHover{
    background-color: #0020cc;!important;
    transition: 0.3s;
    border: 1px solid #0020cc;
    color: white;
}


.btnCinza:hover{
    background-color: transparent;
    border: 1px solid #484646;
    color: #484646;
    font-weight: 500;
}

.btnVermelho{
    background: #db3545;!important;
    transition: 0.3s;
    border: 1px solid crimson;
    color: white;
}
.btnVermelho:hover{
    background: transparent;
    border: 1px solid crimson;
    color: crimson;
}

.btnDark{
    background: #212529;
    border: 1px solid #212529;
    color: white;
    font-weight: 500;
    transition: 0.5s;
}

.btnDark:hover{
    background: transparent;
    border: 1px solid black;
    color: black;
    font-weight: 500;
    transition: 0.5s;
}

.btnVerdePoucoNeon{
    transition: .5s;
    background-color: #38d39f;!important;
    border: 1px solid #38d39f;
    color: white;
}

.btnVerdePoucoNeon:hover{
    background: transparent;
    border: 1px solid #38d39f;
    color: #38d39f; !important;
    font-weight: 600;
}

.erroBonito {
    color: #ffffff;
    background-color: rgba(126, 0, 0, 0.55);
    border: #940000 1px solid;
}

.acertoBonito {
    color: #ffffff;
    background-color: rgba(27, 126, 0, 0.55);
    border: #259400 1px solid;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid #333;
    box-shadow: #1a1a1a 0 0 3em;
}

.title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #ffffff;
}

.title::before {
    width: 18px;
    height: 18px;
}

.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #ffffff;
}

.message,
.signin {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
}

.signin {
    text-align: center;
}

.signin a:hover {
    text-decoration: underline royalblue;
}

.signin a {
    color: #00bfff;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
}

.form label .input {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form label .input + span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
    color: #ffffff;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
}

.input {
    font-size: medium;
}

.submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: #575757;
}

.submit:hover {
    background-color: rgba(42, 42, 42, 0.59);
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

.dropdown-menu {
    background-color: #272626 !important;

}

.dropdown-item {
    color: white !important;
    transition: 0.2s all;
}

.dropdown-item:hover {
    color: #ffffff !important;
    background-color: #797979;
}


@media (max-width: 768px) {

}

@media (max-width: 991px) {
    .qtdMD {
        display: block;
    }
    .overflowTable {
        overflow-x: scroll !important;
        white-space: nowrap;
        /*text-overflow: ellipsis !important;*/
        /*direction: ltr;*/

    }

    .qtdLG {
        display: none;
    }

    .btnMaisEMenos {
        width: 40%;
        margin: 10px;
    }

    .btnRemover {
        width: 85%;
    }
}

@media (min-width: 992px) {
    .qtdMD {
        display: none;
    }

    .margemTop {
        margin-top: 220px;
    }

    .qtdLG {
        display: block;
    }

    .btnMaisEMenos {
        width: 35%;
        margin: 5px;
    }

    .btnRemover {
        width: 75%;
    }
}

.btnConcluirAluguel {
    width: 90%;
}

.nomeProduto {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.margemEntreSacolaEForm {
    margin-right: 10px;
}

.qtdDeItensNoCarrinho {
    background-color: #940000;
    border-radius: 5px;
    color: white;
}


.linkNavbarAdminSM {
    width: 100%;
    text-align: start;
    background: transparent;
    border: none;
    color: black;
    text-decoration: none;
    transition: 1s ease;
}


.btnMenuNavbarSMAdmin {
    background: transparent;
    border: #212121 1px solid;
    width: 100%;
    border-radius: 10px;
    text-align: left;
    height: 50px;
}


.cardNavbarAdminSm {
    border: none;
    transition: 1s ease;
}

.cardNavbarAdminSm:hover {
    background-color: #737373;
    transition: 1s ease;
}


.linkNavbarSM {
    text-decoration: none;
    color: black;
    transition: 1s ease;
}

.btnMenuNavbarSM {
    background: transparent;
    border: #212121 1px solid;
    width: 100%;
    border-radius: 10px;
    text-align: left;
    height: 50px;
}

.cardNavbarSM {
    border: none;
    transition: 1s ease;
}

.cardNavbarSM:hover {
    background-color: #737373;
    transition: 1s ease;
}

.tableNaoVazada {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    direction: ltr;
}


.centraliza {

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.dashAdm {
    height: 100vh !important;
}

.btn-inputAluguel {
    padding: 10px 20px !important;
    background-color: #38d39f;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    transition: all 0.2s;
}

.btn-inputAluguel:hover {
    padding: 10px 20px !important;
    color: #38d39f;
    background-color: white;
    border: 1px solid #38d39f;
    border-radius: 10px;
}

.cardeCarrossel {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    min-height: 200px !important;
    padding-bottom: 15px;
}

.cardCarrosselVisualizarAluguel {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-content: space-between;*/
    min-height: 200px !important;
    padding-bottom: 15px;
}

/*.tituloCard{*/
/*    white-space: nowrap;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*}*/

.wave-box {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #005be0;
}

section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('img/wave.png') repeat-x;
    background-size: 1000px 100px;
}

.fotoEpi {
    object-fit: cover;
    aspect-ratio: 1 / 1;
!important;
    border-radius: 10px;
}

.circulo {
    border-radius: 50%;
}

.cardAlterarSenha {
    width: 350px;
    border: none;
    background-color: #ffffff;
}

.inpAlterarSenha {
    width: 100%;
    border: #656565 2px solid;
    height: 35px;
    border-radius: 5px;
}

/*DASH ADM*/


.nuvensSecao {
    background-color: #259400;
}


.secaoGrafico {
    background-color: #00bfff;
    margin-top: 30%;
}

.inputPesquisa {
    height: 45px;
    margin-right: 10px;
    color: white;
    border: 2px solid #272626;
    border-radius: 10px;
    padding: 10px 25px;
    background-color: white;
    font-size: 18px;
    outline: none;
    transition: 0.1s;
}

.inputPesquisa::placeholder {
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold;
}

.red-placeholder::placeholder {
    color: red;
}

.inputPesquisa:focus {
    border: 3px solid rgb(72, 70, 70);
    color: rgba(0, 0, 0, 0.87);
}


.btnAluguelPesquisa {
    height: 45px;
    background: #272626;
    border-radius: 7px;
    border: 2.5px solid #272626;
    padding: 10px 40px;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.btnAluguelPesquisa:hover {
    background: transparent;
    color: rgba(0, 0, 0, 0.87);
    border: 2.5px solid rgba(0, 0, 0, 0.87);
}

.titulo {
    width: 100%;
    height: 100%;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    /*position: fixed;*/
    /*z-index: -1;*/
    font-size: 40px;
    color: #fff;
}

.conteudo {
    width: 100%;
    padding: 100px;
    background-color: #272626;
}

.conteudo h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
}

.conteudo p {
    font-size: 1.5em;
}

section.ondas-box {
    position: relative;
    width: 100%;
    height: 79dvh;
}

.vai {
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
    align-self: center !important;
    justify-content: center !important;
    justify-items: center !important;
    justify-self: center !important;
    min-height: 100dvh !important;
}

.onda {
    width: 100%;
    height: 300px; /* Aumente a altura para cobrir mais espaço */
    position: absolute;
    bottom: 0;
    left: 0; /* Posição à esquerda para ocupar toda a largura */
    z-index: -1; /* Para colocar atrás do conteúdo */
    background-image: url('img/wave.svg'); /* Verifique o caminho da imagem */
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o espaço */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
}

#onda1 {
    z-index: 1000;
    opacity: 1;
    background-position-x: 400px; /* Adicione a unidade (px) aqui */
    animation: ondaAnimada 5s ease-in-out infinite alternate;
}

#onda2 {
    z-index: 999;
    opacity: 0.5;
    background-position-x: 300px; /* Adicione a unidade (px) aqui */
    animation: ondaAnimada 5s ease-in-out infinite alternate;
}

#onda3 {
    z-index: 998;
    opacity: 0.2;
    background-position-x: 200px; /* Adicione a unidade (px) aqui */
    animation: ondaAnimada 5s ease-in-out infinite alternate;
}

#onda4 {
    z-index: 997;
    opacity: 0.8;
    background-position-x: 100px; /* Adicione a unidade (px) aqui */
    animation: ondaAnimada 5s ease-in-out infinite alternate;
}

.oondafoto {
    margin-bottom: -10px;
    width: 100%;
    height: 150%;
    position: relative; /* Importante para z-index funcionar */
    z-index: 999; /* Valor alto para colocar a imagem na frente */
}

@keyframes ondaAnimada {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(10px);
    }
}

.alturaFotoPreview {
    height: 250px !important;
    max-height: 250px !important;
    overflow: hidden;
}

.mdlVermaisUsuario {
    background: transparent;
    border: none;
}

.margemTop {
    margin-top: 50px;
}

/*AREA DA MODAL*/
.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #38d39f; !* Verde para ilustrar *!*/
    color: white;
    border-radius: 0px 0px 37px 30px ;
    -moz-border-radius: 0px 0px 37px 30px ;
    -webkit-border-radius: 0px 0px 37px 30px ;
}

.modal-title {
    flex: 1;
    text-align: center;
}

.textCenter {
    text-align: center;
}

.modalCadEpi{
    align-items: center;
}

.divModalBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.custum-file-upload {
    display: flex;
    min-height: 200px;
    min-width: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    border: 2px dashed #171616;
    background-color: rgba(255, 255, 255, 0.86);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.48);
    position: relative;
}


.custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}


.custum-file-upload .icon svg {
    height: 80px;
    fill: #171616;
}

.custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custum-file-upload .text span {
    font-weight: 400;
    color: #171616;
}

.custum-file-upload input {
    display: none;
}

/*AREA DOS INPUT*/
.formField {
    margin: 10px;
    position: relative;
}
.formField2 {
    margin: 10px;
    position: relative;
}
.formField3 {
    margin: 10px;
    position: relative;
}

.formField input {
    width: 100%;
    padding: 20px 15px 10px 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #333;
    font-size: 16px;
    font-weight: 550;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 0 5px transparent;
}

.formField2 select {
    width: 100%;
    padding: 20px 15px 10px 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #333;
    font-size: 16px;
    font-weight: 550;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 0 5px transparent;
}
.formField3 input {
    width: 100%;
    padding: 20px 15px 10px 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #333;
    font-size: 16px;
    font-weight: 550;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 0 5px transparent;
}

.formField3 input:hover,
.formField3 input:focus {
    box-shadow: 0 0 0 2px #333;
}

.formField input:hover,
.formField input:focus {
    box-shadow: 0 0 0 2px #333;
}

.formField2 select:hover,
.formField2 select:focus {
    box-shadow: 0 0 0 2px #333;
}

.formField span {
    position: absolute;
    left: 0;
    top: 0;
    padding: 13px 15px;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    text-shadow: -1px -1px 0 #f1f1f1, 1px -1px 0 #f1f1f1, -1px 1px 0 #f1f1f1,
    1px 1px 0 #f1f1f1;
    transition: 0.3s ease-in-out;
    pointer-events: none;
}

.formField2 span {
    position: absolute;
    left: 0;
    top: 0;
    padding: 13px 15px;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    text-shadow: -1px -1px 0 #f1f1f1, 1px -1px 0 #f1f1f1, -1px 1px 0 #f1f1f1,
    1px 1px 0 #f1f1f1;
    transition: 0.3s ease-in-out;
    pointer-events: none;
}

.formField3 span {
    position: absolute;
    left: 0;
    top: 0;
    padding: 13px 15px;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    text-shadow: -1px -1px 0 #f1f1f1, 1px -1px 0 #f1f1f1, -1px 1px 0 #f1f1f1,
    1px 1px 0 #f1f1f1;
    transition: 0.3s ease-in-out;
    pointer-events: none;
}

.formField input:focus + span,
.formField input:valid + span {
    transform: translateY(-12px) translateX(-5px) scale(0.95);
    transition: 0.3s ease-in-out;
}

.formField2 select:focus + span,
.formField2 select:valid + span {
    transform: translateY(-12px) translateX(-5px) scale(0.95);
    transition: 0.3s ease-in-out;
}

.formField3 input:focus + span,
.formField3 input:valid + span {
    transform: translateY(-12px) translateX(-5px) scale(0.95);
    transition: 0.3s ease-in-out;
}


#preview {
    margin-top: 20px;
    max-width: 100%;
    max-height: 300px;
    display: none; /* Ocultar inicialmente */
}
.hidden {
    display: none;
}

.rounded-table {
    border: 1px solid #000;
    border-radius: 20px;
    overflow: hidden;
}

.form-group {
    position: relative;
    margin-top: 20px;
}

.input-container {
    position: relative;
}

.input-container .input-label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #999;
    transition: all 0.2s ease;
}

.input-container input {
    padding-top: 20px; /* Ajusta o preenchimento superior para acomodar o span */
    padding-left: 30px; /* Ajusta o preenchimento esquerdo para acomodar o span */
}

.input-container input:focus + .input-label,
.input-container input:not(:placeholder-shown) + .input-label {
    top: 5px;
    font-size: 12px;
    color: #666;
}
.coolinput {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    max-width: 100%;
    max-height: 100%; !important;
    background-color: white;!important;
    width: 100%;
}

.coolinput input {
    width: 100%;
    height: 100%;
    padding: 20px 15px 10px 15px;
    font-size: 300px;
}

.coolinput label.text {
    font-size: 0.80rem;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 800;
    position: relative;
    top: 1.2rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: transparent;
    width: fit-content;
}

.coolinput input[type=text].input {
    padding: 11px 10px;
    font-size: 1rem;
    /*border: 2px rgba(0, 0, 0, 0.87) solid;*/
    border-radius: 5px;
    background: #e8e8e8;
    height: 50px;
}

.coolinput input[type=date].input {
    padding: 11px 10px;
    font-size: 1rem;
    /*border: 2px rgba(0, 0, 0, 0.87) solid;*/
    border-radius: 5px;
    background: #e8e8e8;
    height: 50px;
}


.coolinput select.select {
    padding: 11px 10px;
    font-size: 1rem;
    /*border: 2px rgba(0, 0, 0, 0.87) solid;*/
    border-radius: 5px;
    background: #e8e8e8;
    height: 50px;
}

.coolinput input[type=text].input:focus {
    outline: none;
}

.olhinho{
    position: absolute;
    right: 3rem;
    top: 17.7rem;
}

.olhinho2{
    position: absolute;
    left: 21rem;
    top: 26.1rem;
}

.olhinho3{
    position: absolute;
    left: 46rem;
    top: 26.1rem;
}

.inputBuscaUsuario{
    width: 300px;
    margin-right: 15px;
}

.buscaUsuario{
    display: flex;

}
.inputCarrinho {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 10px;
    padding: 1em;
    background-color: #ffffff;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1);
    transition: all 300ms ease-in-out;
}

.inputCarrinho2{
    width: 100%;!important;
    height: 100%;
}

.inputCarrinho:focus {
    background-color: #f9f9f9;
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-color: #007bff;
}

.cardCarrinho{
    padding: 40px;
    margin-top: 7%;
}

.rowCarrinho{
    padding: 40px;
}

.rounded-bolinha{
    border-radius:50%;
    padding-right: 10px;
    padding-left: 10px;
}

.btnConcluirAluguel {
    display: inline-block;
    border-radius: 20px;
    background-color: #1a8754;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 50%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.btnConcluirAluguel span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btnConcluirAluguel span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

.btnConcluirAluguel:hover span {
    padding-right: 15px;
}

.btnConcluirAluguel:hover span:after {
    opacity: 1;
    right: 0;
}

.btnTopo {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999999999;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 15px 20px 15px 20px;
    border-radius: 50%;
}

.btnTopo:hover {
    background-color: #333;
}