@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ruda:wght@400..900&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

    font-weight: 500;
    font-style: normal;
    background-color: #EDEEF3;
}


.bodyLoginDash{
    width: 100%;
    height: 100vh;
    /*background-image: linear-gradient(to bottom right, #171616 50%, #868383 50%);*/
    background-image: linear-gradient(to bottom right, #171515 50%, #868383 50%);
    border-radius: 50%;


}


.cinza {
    background-color: #272626 !important;
    color: white !important;
}

.cinza::placeholder {
    color: white !important;

}

.erroBonito {
    color: #ffffff;
    background-color: rgba(126, 0, 0, 0.55);
    border: #940000 1px solid;
}

.acertoBonito {
    color: #ffffff;
    background-color: rgba(27, 126, 0, 0.55);
    border: #259400 1px solid;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid #333;
    box-shadow: #1a1a1a 0 0 3em;
}

.title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #ffffff;
}

.title::before {
    width: 18px;
    height: 18px;
}

.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #ffffff;
}

.message,
.signin {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
}

.signin {
    text-align: center;
}

.signin a:hover {
    text-decoration: underline royalblue;
}

.signin a {
    color: #00bfff;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
}

.form label .input {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form label .input + span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
    color: #ffffff;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
}

.input {
    font-size: medium;
}

.submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: #575757;
}

.submit:hover {
    background-color: rgba(42, 42, 42, 0.59);
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

.dropdown-menu {
    background-color: #272626 !important;

}

.dropdown-item {
    color: white !important;
    transition: 0.2s all;
}

.dropdown-item:hover {
    color: #ffffff !important;
    background-color: #797979;
}


@media (max-width: 768px) {

}

@media (max-width: 991px) {
    #qtdMD {
        display: block;
    }

    #qtdLG {
        display: none;
    }

    .btnMaisEMenos {
        width: 40%;
        margin: 10px;
    }

    .btnRemover {
        width: 85%;
    }
}

@media (min-width: 992px) {
    #qtdMD {
        display: none;
    }

    #qtdLG {
        display: block;
    }

    .btnMaisEMenos {
        width: 35%;
        margin: 5px;
    }

    .btnRemover {
        width: 75%;
    }
}

.btnConcluirAluguel {
    width: 90%;
}

.nomeProduto {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.margemEntreSacolaEForm {
    margin-right: 10px;
}

.qtdDeItensNoCarrinho {
    background-color: #940000;
    border-radius: 5px;
    color: white;
}


.linkNavbarAdminSM {
    color: black;
    text-decoration: none;
    transition: 1s ease;
}

.linkNavbarAdminSM:hover {
    color: white !important;
    transition: 1s ease;
}

.btnMenuNavbarSMAdmin {
    background: transparent;
    border: #212121 1px solid;
    width: 100%;
    border-radius: 10px;
    text-align: left;
    height: 50px;
}


.cardNavbarAdminSm {
    border: none;
    transition: 1s ease;
}

.cardNavbarAdminSm:hover {
    background-color: #737373;
    transition: 1s ease;
}


.linkNavbarSM {
    text-decoration: none;
    color: black;
    transition: 1s ease;
}

.linkNavbarSM:hover {
    color: white;
    transition: 1s ease;
}

.btnMenuNavbarSM {
    background: transparent;
    border: #212121 1px solid;
    width: 100%;
    border-radius: 10px;
    text-align: left;
    height: 50px;
}

.cardNavbarSM {
    border: none;
    transition: 1s ease;
}

.cardNavbarSM:hover {
    background-color: #737373;
    transition: 1s ease;
}

.overflowTable {
    overflow-x: scroll !important;
    /*text-overflow: ellipsis !important;*/
    white-space: nowrap;
    /*direction: ltr;*/

}

.tableNaoVazada {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    direction: ltr;
}


.centraliza {

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.dashAdm {
    height: 100vh !important;
}

.btn-inputAluguel {
    padding: 10px 20px !important;
    background-color: #38d39f;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    transition: all 0.2s;
}

.btn-inputAluguel:hover {
    padding: 10px 20px !important;
    color: #38d39f;
    background-color: white;
    border: 1px solid #38d39f;
    border-radius: 10px;
}

.cardeCarrossel {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    min-height: 200px !important;
    padding-bottom: 15px;
}

.cardCarrosselVisualizarAluguel {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-content: space-between;*/
    min-height: 200px !important;
    padding-bottom: 15px;
}

/*.tituloCard{*/
/*    white-space: nowrap;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*}*/

.wave-box {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #005be0;
}

section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('img/wave.png') repeat-x;
    background-size: 1000px 100px;
}

.fotoEpi {
    object-fit: cover;
    aspect-ratio: 1 / 1;
!important;
    border-radius: 10px;
}

.circulo {
    border-radius: 50%;
}

.cardAlterarSenha {
    width: 350px;
    border: none;
    background-color: #ffffff;
}

.inpAlterarSenha {
    width: 100%;
    border: #656565 2px solid;
    height: 35px;
    border-radius: 5px;
}

/*DASH ADM*/


.nuvensSecao {
    background-color: #259400;
}


.secaoGrafico {
    background-color: #00bfff;
    margin-top: 30%;
}

.inputPesquisa {
    height: 45px;
    margin-right: 10px;
    color: white;
    border: 2px solid #272626;
    border-radius: 10px;
    padding: 10px 25px;
    background-color: white;
    font-size: 18px;
    outline: none;
    font-family: "Bona Nova SC", serif;
}

.inputPesquisa::placeholder {
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold;
}

.red-placeholder::placeholder {
    color: red;
}

.inputPesquisa:focus {
    border: 3px solid rgb(72, 70, 70);
    color: rgba(0, 0, 0, 0.87);
}


.btnAluguelPesquisa {
    height: 45px;
    background: #272626;
    border-radius: 7px;
    border: none;
    padding: 10px 40px;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.btnAluguelPesquisa:hover {
    background: transparent;
    color: rgba(0, 0, 0, 0.87);
    border: 2.5px solid rgba(0, 0, 0, 0.87);
}

.titulo {
    width: 100%;
    height: 100%;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    /*position: fixed;*/
    /*z-index: -1;*/
    font-size: 40px;
    color: #fff;
}

.conteudo {
    width: 100%;
    padding: 100px;
    background-color: #272626;
}

.conteudo h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
}

.conteudo p {
    font-size: 1.5em;
}

section.ondas-box {
    position: relative;
    width: 100%;
    height: 79dvh;
}

.vai {
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
    align-self: center !important;
    justify-content: center !important;
    justify-items: center !important;
    justify-self: center !important;
    min-height: 100dvh !important;
}

.btnSair{
    transition: 0.3s;
}
.btnSair:hover{
    background: transparent;
    border: 1px solid crimson;
    color: crimson;
}

.btnDark{
    /*transition: 0.3s;*/
}

.btnDark:hover{
    background: transparent;
    border: 2px solid black;
    color: black;
    font-weight: 500;
}


.onda {
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url('img/wave.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

#onda1 {
    z-index: 1000;
    opacity: 1;
    background-position-x: 400px; /* Adicione a unidade (px) aqui */
    animation: ondaAnimada 5s ease-in-out infinite alternate;
}

#onda2 {
    z-index: 999;
    opacity: 0.5;
    background-position-x: 300px; /* Adicione a unidade (px) aqui */
    animation: ondaAnimada 5s ease-in-out infinite alternate;
}

#onda3 {
    z-index: 998;
    opacity: 0.2;
    background-position-x: 200px; /* Adicione a unidade (px) aqui */
    animation: ondaAnimada 5s ease-in-out infinite alternate;
}

#onda4 {
    z-index: 997;
    opacity: 0.8;
    background-position-x: 100px; /* Adicione a unidade (px) aqui */
    animation: ondaAnimada 5s ease-in-out infinite alternate;
}

.oondafoto {
    margin-bottom: -10px;
    width: 100%;
    height: 150%;
    position: relative; /* Importante para z-index funcionar */
    z-index: 999; /* Valor alto para colocar a imagem na frente */
}

@keyframes ondaAnimada {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(10px);
    }
}

.alturaFotoPreview {
    height: 250px !important;
    max-height: 250px !important;
    overflow: hidden;
}

.mdlVermaisUsuario {
    background: transparent;
    border: none;
}

.tituloListar {
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
    font-style: normal;
}

/*INDEX DA AREA PRINCIPAL*/

.btnAddCarrinho {
    transition: .5s;
    background-color: #38d39f;
!important;
    border: none;
}

.btnAddCarrinho:hover {
    background: transparent;
    border: 1px solid #38d39f;
    color: #38d39f;
    font-weight: 600;
}

.cardExibirEpi {
    text-align: center;
!important;
    /*border: none;*/
    border-radius: 0px 0px 0px 0px ;
    -moz-border-radius: 0px 0px 0px 0px ;
    -webkit-border-radius: 0px 0px 0px 0px ;
}

.cardExibirEpi .nomeProduto {
    font-weight: bold;
}
.imgProduto{
    background-color: rgba(229, 248, 242, 0.81);!important;
    border-radius: 0px 0px 24px 24px ;
    -moz-border-radius: 0px 0px 24px 24px ;
    -webkit-border-radius: 0px 0px 24px 24px;
    background-color: rgba(229, 248, 242, 0.81);!important;
}
.imgProduto:hover{
    background: transparent;
}


/*.cardExibirEpi .cardBodyExibirEpi2{*/
/*    background-color: rgba(188, 227, 212, 0.81);!important;*/
/*}*/

/*.cardExibirEpi .cardBodyExibirEpi {*/
/*    background-color: rgba(143, 183, 129, 0.81);!important;*/
/*    border-radius: 31px 30px 0px 0px ;*/
/*    -moz-border-radius: 31px 30px 0px 0px ;*/
/*    -webkit-border-radius: 31px 30px 0px 0px ;*/
/*}*/
/*.cardBodyExibirEpi1{*/
/*    background-color: rgba(143, 183, 129, 0.81);!important;*/
/*}*/


/*EDICAO DAS MODAIS*/

.verde{
    background-color:#2cb28c;!important;
}
.azul{
    background-color: #0020cc;!important;
}

.ciznaEscuro {
    background-color: #272626;
}

.pretoNaoPreto{
    background-color: #171616;
}

.btnPretoNaoPreto{
    background-color:#171616;!important;
    transition: 0.3s;
    border: none;
}

.btnPretoNaoPreto:hover{
    background-color: transparent;
    border: 2px solid #171616;
    color: #212121;
    font-weight: 500;
}

.btnCinzaEscuro{
    background-color:#272626;!important;
    transition: 0.3s;
    border: none;
}

.btnCinzaEscuro:hover{
    background-color: transparent;
    border: 2px solid #272626;
    color: #212121;
    font-weight: 500;
}

.btnVerde{
    background-color:#2cb28c;!important;
    transition: 0.3s;
    border: none;
}
.btnVerde:hover{
    background-color: transparent;
    border: 2px solid #38d39f;
    color: #38d39f;
    font-weight: 500;
}

.btnCinza{
    background-color: #484646;!important;
    transition: 0.3s;
    border: none;
}

.btnAzul{
    background-color: #0020cc;!important;
    transition: 0.3s;
    border: none;
}

.btnAzul:hover{
    background-color: transparent;
    border: 2px solid #0020cc;
    color: #0020cc;
    font-weight: 500;
}

.btnCinza:hover{
    background-color: transparent;
    border: 2px solid #484646;
    color: #484646;
    font-weight: 500;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #38d39f; !* Verde para ilustrar *!*/
    color: white;
    border-radius: 0px 0px 37px 30px ;
    -moz-border-radius: 0px 0px 37px 30px ;
    -webkit-border-radius: 0px 0px 37px 30px ;
}

.modal-title {
    flex: 1;
    text-align: center;
}

.textCenter {
    text-align: center;
}

.modalCadEpi{
    align-items: center;
}

.divModalBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.custum-file-upload {
    height: 200px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    border: 2px dashed #171616;
    background-color: rgba(255, 255, 255, 0.86);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.48);
    position: relative;
}

.custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}



.custum-file-upload .icon svg {
    height: 80px;
    fill: #171616;
}

.custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custum-file-upload .text span {
    font-weight: 400;
    color: #171616;
}

.custum-file-upload input {
    display: none;
}

/*AREA DOS INPUT'S*/

#label-input {
    transition: all 0.1s ease-in-out;
    color: #2c2c54;
    position: absolute;
    top: 30%;
    left: 18px;
    transform: scale(0.95);
    opacity: 1;
    pointer-events: none;
}

.input-base {
    border-radius: 10px;
}

#nomeEpiAdd:focus ~ label#label-input,
#nomeEpiAdd:not(:placeholder-shown) ~ #label-input {
    top: -20% !important;
    left: 2px !important;
    transform: scale(0.8);
    background: white;
    color: black;
    padding: 0 6px;
    opacity: 1;
}

#nomeEpiAdd {
    transition: outline 0.2s ease;
    font-size: 1rem;
    outline-color: var(--button-text);
    outline: unset;
    border: 1px dashed #bbbbbb;
    padding: 17px 10px 10px 17px;
    width: 100%;
}

#nomeEpiAdd:focus {
    box-shadow: 0 0 0 1px #e8e8e8, 0 0 0 3px #171616;
    border: none;
}

/*Certficado */

#certificadoEpiAdd:focus ~ label#label-input,
#certificadoEpiAdd:not(:placeholder-shown) ~ #label-input {
    top: -20% !important;
    left: 2px !important;
    transform: scale(0.8);
    background: white;
    color: black;
    padding: 0 6px;
    opacity: 1;
}

#certificadoEpiAdd {
    transition: outline 0.2s ease;
    font-size: 1rem;
    outline-color: var(--button-text);
    outline: unset;
    border: 1px dashed #bbbbbb;
    padding: 17px 10px 10px 17px;
    width: 100%;
}

#certificadoEpiAdd:focus {
    box-shadow: 0 0 0 1px #e8e8e8, 0 0 0 3px #171616;
    border: none;
}

/*#Editar Nome Epi */
#nomeEpiEdit:focus ~ label#label-input,
#nomeEpiEdit:not(:placeholder-shown) ~ #label-input {
    top: -20% !important;
    left: 2px !important;
    transform: scale(0.8);
    background: white;
    color: black;
    padding: 0 6px;
    opacity: 1;
}

#nomeEpiEdit {
    transition: outline 0.2s ease;
    font-size: 1rem;
    outline-color: var(--button-text);
    outline: unset;
    border: 1px dashed #bbbbbb;
    padding: 17px 10px 10px 17px;
    width: 100%;
}

#nomeEpiEdit:focus {
    box-shadow: 0 0 0 1px #e8e8e8, 0 0 0 3px #0020cc;
    border: none;
}
/*Editar o certificado do Epi */
#certificadoEpiEdit:focus ~ label#label-input,
#certificadoEpiEdit:not(:placeholder-shown) ~ #label-input {
    top: -20% !important;
    left: 2px !important;
    transform: scale(0.8);
    background: white;
    color: black;
    padding: 0 6px;
    opacity: 1;
}

#certificadoEpiEdit {
    transition: outline 0.2s ease;
    font-size: 1rem;
    outline-color: var(--button-text);
    outline: unset;
    border: 1px dashed #bbbbbb;
    padding: 17px 10px 10px 17px;
    width: 100%;
}

#certificadoEpiEdit:focus {
    box-shadow: 0 0 0 1px #e8e8e8, 0 0 0 3px #0020cc;
    border: none;
}

.relative {
    position: relative;
    margin-bottom: 5px;
}

